@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

html {
      background-image:url(images/pexels-rafael-guajardo-604684.jpg);
      object-fit:cover;
      background-position:right;
}
body {
      text-align:center;
      font-family: 'New Tegomin', serif;
      color:white;
}

h1 {
      color: white;
      margin:0px;
      padding:0px;
}
h2 {
      color: lightblue;
      font-size: 16px;
}
ol {
  list-style-position: inside;
}
ul {
  list-style-position: inside;
}
button:hover {
               background-color:lightblue;
}